body {
  background-color: rgb(63, 171, 185);
  color: white;
  font-family: "Oswald", sans-serif;
}

.title {
  background-color: white;
  border-radius: 0.25em;
  width: 290px;
  height: auto;
  font-size: 36px;
  padding: 8px;
  color: black;
  text-align: left;
}

#photoprofil {
  margin: auto;
  width: 140px;
  border-radius: 20px;
}

.address {
  text-align: left;
  margin-left: 40px;
}

#heading {
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-align: left;
}

p {
  text-align: left;
  margin-left: 30px;
}

th {
  border: 3px solid #ffffff85;
  background-color: grey;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 2px solid #ffffff4b;
  width: 300px;
}
